.Task {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &__Input {
    width: 100%;
    margin: 0 4px;
  }

  &__RemoveButton {
    background-color: transparent;
    border: none;

    &__Icon {
      width: 20px;
      height: 20px;
    }
  }
}