.Task {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &__Input {
    width: 100%;
    font-size: 1.4rem !important;
    margin: 0 4px;
  }

  &__RemoveButton {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__Icon {
      width: 20px;
      height: 20px;
    }
  }
}